/* Importa o Bootstrap via CSS puro */
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* Seus estilos customizados abaixo */
body {
    background-color: #eeeeee;
}

#campoBusca-style {
    border-radius: 20px 0px 20px 0px;
    width: 100%;
    
}